{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Cuenta activada" %}{% endblock %}

{% block content %}

    <div class="col-sm-6 col-sm-offset-3">
        <p>
            {% trans "Su cuenta está activada." %}
            {% if not user.is_authenticated %}
                {% trans "Ahora puede iniciar sesión." %}
            {% endif %}
        </p>

    </div>


{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}