{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Confirmar cambio de contraseña" %}{% endblock %}

{% block content %}

    <div class="col-sm-6 col-sm-offset-3">
        <h3>{% trans "Confirmar cambio de contraseña" %}</h3>

        <p>

        <p>{% trans "Ingrese su nueva contraseña:" %}</p>

        <form method="post" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="{% trans 'Cambiar contraseña' %}"/>
        </form>

    </div>



{% endblock %}


{# This is used by django.contrib.auth #}