{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Confirmar cambio de contraseña" %}{% endblock %}

{% block content %}

    <div class="col-sm-6 col-sm-offset-3">
        <h3>{% trans "Confirmar cambio de contraseña" %}</h3>

        <p>

        <p>{% trans "Ingrese su nueva contraseña:" %}</p>

        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans 'Set password' %}"/>
        </form>

    </div>



{% endblock %}


{# This is used by django.contrib.auth #}