{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}



{% block content %}

 <div class="col-sm-6 col-sm-offset-3">
<h3>{% trans "Cambiar contraseña" %}</h3>
 <p>
    {% blocktrans %}
    ¿Olvidaste tu contraseña? Ingresa tu dirección de correo en el formulario inferior
        y nosotros te enviaremos las instrucciones para crear uno nuevo.
    {% endblocktrans %}
</p>
<form method="post" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-primary" type="submit" value="{% trans 'Reset password' %}" />
</form>


 </div>

{% endblock %}


{# This is used by django.contrib.auth #}