{% load i18n %}

{% blocktrans %}Saludos{% endblocktrans %} {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

{% blocktrans %}
Ha recivido este correo porque usted (o alguien pretendiendo serlo)
ha solicitado un cambio de contraseña en el sitio {{ domain }}. Si usted
no desea cambiar su contraseña, por favor ignore este mensaje.

{% endblocktrans %}

{% blocktrans %}
Para cambiar su contraseña por favor haga click en el siguiente link, o copielo y
péguelo en su navegador:

{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}

{% blocktrans %}Su nombre de usuario, en caso de que lo haya olvidado es:{% endblocktrans %} {{ user.username }}


{% blocktrans %}Saludos{% endblocktrans %},
{{ site_name }} {% blocktrans %}Administración{% endblocktrans %}


{# This is used by django.contrib.auth #}
