{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Cambio de contraseña" %}{% endblock %}

{% block content %}


    <div class="col-sm-6 col-sm-offset-3">
         <h3>{% trans "Cambio de contraseña completo" %}</h3>
        <p>
            {% trans "Su contraseña ha cambiado!" %}
          {% blocktrans %}Ahora puede <a href="{% url 'auth_login' %}?next='/'">iniciar sesión.</a>{% endblocktrans %}.

       </p>

     </div>


{% endblock %}


{# This is used by django.contrib.auth #}