{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Cambio de contraseña" %}{% endblock %}

{% block content %}

     <div class="col-sm-6 col-sm-offset-3">
         <h3>{% trans "Cambio de contraseña" %}</h3>
         <form method="post" action="">
           {% csrf_token %}
           {{ form |crispy }}
         <input class="btn btn-primary" type="submit" value="{% trans 'Cambiar contraseña' %}" />
     </form>

     </div>


{% endblock %}


{# This is used by django.contrib.auth #}