{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Cambiar contraseña" %}{% endblock %}

{% block content %}

     <div class="col-sm-6 col-sm-offset-3">
    <h3>{% trans "Cambiar contraseña" %}</h3>
   <p>
    {% blocktrans %}
    Le hemos enviado a su dirección de email un link para cambiar su contraseña.
    Por favor revise su correo y haga click en el enlace para continuar.
    {% endblocktrans %}
   </p>
    </div>




{% endblock %}


{# This is used by django.contrib.auth #}