{% extends "registration/registration_base.html" %}
{% load i18n %}


{% block content %}

    <div class="col-sm-6 col-sm-offset-3">
         <h3>{% trans "Mensaje de ctivación enviado" %}</h3>
         <p>{% trans "Por favor revise su correo elctrónico para completar el proceso de registro." %}</p>

     </div>


{% endblock %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}