
.celdacontenido{
    position:relative;
}

.derecha{
    position:absolute;
    bottom:0;
    right:0;
}

.izquierda{
    position:absolute;
    bottom:0;
    left:0;
}

.censura {
    position: absolute;
    top: 0px;
    right: 0px;
}

.inapropiado{
    color: red;
}

table a {
    color: #0b6cff;
}

table a:hover {
    color: #08b7ed;
}