{% extends "base.html" %}

{% block title %}Perfil de: {{ object.user.username }}{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 ">
                <br>
                <b>Imagen de perfil</b><br><br>
                {% if object.imagen_avatar %}
                    <img class="img-rounded" border="0" alt="Profile Pic" src="{{ object.imagen_avatar }}"/><br>
                {% else %}
                    <img class="img-rounded" border="0" alt="Profile Pic" src="/media/imagenes/nouserimg.png"
                         height="140" width="140"/><br>
                {% endif %}
            </div>
            <div class="col-sm-9 ">
                <br>
                <b>Información personal</b><br><br>
                {% if object.user.first_name and object.user.last_name %}
                    <div class="informacion">
                        Nombre: {{ object.user.first_name }} {{ object.user.last_name }} <br>
                    </div>
                {% else %}
                    <div class="informacion">
                        Aún no registra su nombre y apellidos.<br>
                    </div>
                {% endif %}
                Correo electrónico:
                <div class="informacion">
                    {{ object.user.email }} <br>
                </div>

                Nombre de usuario:
                <div class="informacion">
                    {{ object.user.username }} <br>
                </div>

                <br>
                <b>Actividad</b><br><br>


                Número de mensajes:
                <div class="informacion">
                    {{ object.mensajes }} <br>
                </div>


                Fecha de registro:
                <div class="informacion">
                    {{ object.user.date_joined |date:"M, d-Y, h:i a" }} <br>
                </div>

                Última actualización:
                <div class="informacion">
                    {{ object.actualizacion |date:"M, d-Y, h:i a" }} <br>
                </div>

                Última inicio de sesión:
                <div class="informacion">
                    {{ object.user.last_login |date:"M, d-Y, h:i a" }} <br>
                </div>

                <a href="{% url 'temas_creados' object.user.id %}">Temas creados</a> <br>


                <a href="{% url 'mensajes_creados' object.user.id %}">Mensajes creados</a> <br>

            </div>

        </div>

    </div>

{% endblock %}