{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ foro.titulo }}{% endblock %}

{% block content %}

    Fecha en Perú: {% now "m-d-Y" %}

    <div>
        <a href="{% url 'home' %}">Foros</a> > {{ foro.titulo }}
    </div>
    <a href="{% url 'nuevo_tema' foro.id %}">Crear nuevo tema</a>
    {% if object_list %}


        <div id="no-more-tables">
            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                <thead class="cf">
                <tr>
                    <td>Tema</td>
                    <td class="centrado">Respuestas</td>
                    <td>Último mensaje</td>

                </tr>
                </thead>
                <tbody>
                {% for tema in object_list %}
                    <tr>
                        <td data-title='Tema'>
                            <a href="{% url 'mensajes' tema.pk %}">{{ tema.titulo }}</a><br>

                            {% if tema.autor.id == request.user.id and request.user.is_authenticated%}
                                Autor: <a href="{% url 'editar_perfil' request.user.id %}"> {{ tema.autor }} </a><br>
                            {% elif tema.autor.is_active == 0 %}
                                    Por: {{ tema.autor }} <br>
                            {% else %}
                                Autor: <a href="{% url 'detalle_usuario' tema.autor.id %}"> {{ tema.autor }} </a><br>
                            {% endif %}

                            Fecha de publicación: {{ tema.fecha|date:"M, d-Y, h:i a" }}
                        </td>


                        {% if tema.num_mensajes == 0 %}
                            <td data-title='Respuestas' class="centrado">0</td>
                        {% else %}
                            <td data-title='Respuestas' class="centrado"> {{ tema.num_respuestas }}</td>
                        {% endif %}

                        <td data-title='Último mensaje'>
                            {{ tema.ultimo_mensaje.fecha|date:"M, d-Y, h:i a" }} <br>

                            {% if tema.ultimo_mensaje.autor.id == request.user.id and request.user.is_authenticated%}
                                Por:
                                <a href="{% url 'editar_perfil' request.user.id %}"> {{ tema.ultimo_mensaje.autor }} </a>
                            {% elif tema.ultimo_mensaje.autor.is_active == 0 %}
                                    Por: {{ tema.ultimo_mensaje.autor }}
                            {% else %}
                                Por: <a href="{% url 'detalle_usuario' tema.ultimo_mensaje.autor.id %}"> {{ tema.ultimo_mensaje.autor }} </a>
                            {% endif %}


                        </td>

                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "paginador.html" %}
    {% else %}
        <li>No hay temas abiertos en el foro {{ foro.titulo }}</li>
    {% endif %}






{% endblock %}