{% extends "base.html" %}
{% block title %}Perfil{% endblock %}

{% block content %}
    <div class="container-fluid">

        <a href="{% url 'home' %}">Foros</a> > Mi perfil

        <div class="row col-sm-offset-2">
            <div class="col-sm-4 ">
                <br/>
                <b>Imagen de perfil</b><br><br>

                <form enctype="multipart/form-data" action="" method="POST"> {% csrf_token %}

                    {% if perfilusuario.imagen_avatar %}
                        <img class="img-rounded" border="0" alt="Profile Pic" src="{{ perfilusuario.imagen_avatar }}"/>
                        <br><br>
                    {% else %}
                        <img class="img-rounded" border="0" alt="Profile Pic" src="/media/imagenes/nouserimg.png"
                             height="140" width="140"/>
                        <br>
                        <br>
                    {% endif %}

                    {{ form.avatar }} <br>
                    <input class="btn btn-primary " type="submit" value="Confirmar" id="submit"/>
                </form>
                <br>
            </div>

            <div class="col-sm-4">
                <br>
                <b>Información personal</b><br><br>

                {% if perfilusuario.user.first_name and perfilusuario.user.last_name %}
                    Nombre:
                    <div class="informacion">{{ perfilusuario.user.first_name }} {{ perfilusuario.user.last_name }} <br>
                    </div>
                {% else %}
                    <div class="informacion">
                        Aún no registra su nombre y apellidos. <br>
                    </div>
                {% endif %}

                Correo electrónico:
                <div class="informacion">
                    {{ perfilusuario.user.email }} <br>
                </div>

                Nombre de usuario:
                <div class="informacion">
                    {{ perfilusuario.user.username }} <br><br>
                </div>

                <b>Actividad</b><br><br>

                Número de mensajes:
                <div class="informacion">
                    {{ perfilusuario.mensajes }} <br>
                </div>
                <a href="{% url 'temas_creados' perfilusuario.user.id %}">Temas creados</a> <br>

                <a href="{% url 'mensajes_creados' perfilusuario.user.id %}">Mensajes creados</a> <br>

                Fecha de registro:
                <div class="informacion">
                    {{ perfilusuario.user.date_joined|date:"M, d-Y, h:i a" }} <br>
                </div>

                Última actualización:
                <div class="informacion">
                    {{ perfilusuario.actualizacion|date:"M, d-Y, h:i a" }} <br>
                </div>
                Última inicio de sesión:
                <div class="informacion">
                    {{ perfilusuario.user.last_login|date:"M, d-Y, h:i a" }} <br>
                </div>
            </div>

            <div class="col-sm-4">
                <br>
                <b>Acciones</b><br><br>

                <a href="{% url 'editar_user' object.user.id %}">Editar perfil</a> <br>

                <a href="{% url 'auth_password_change' %}">Cambiar contraseña</a> <br>

                <a href="{% url 'desactivar'  %}">Desactivar cuenta</a>
            </div>

        </div>
    </div>

{% endblock %}