{% extends "base.html" %}


{% block content %}

    <div class="main">
        <div id="rtitle">Perfil</div>
        <br/>

        <p>
            <form enctype="multipart/form-data" action="" method="POST"> {% csrf_token %}

                {% if perfilusuario.imagen_avatar %}
                    <p><img border="0" alt="Profile Pic" src="{{ perfilusuario.imagen_avatar }}"/></p>
                {% else %}
                    <p><img border="0" alt="Profile Pic" src="/media/imagenes/nouserimg.png" height="140" width="140"/></p>
                {% endif %}

        {{ form.avatar }}
        <input class="btn btn-primary" type="submit" value="Confirmar" id="submit"/>
        </form>
        </p>

        <p>

            {% if perfilusuario.user.first_name and perfilusuario.user.last_name %}
                Nombre: {{ perfilusuario.user.first_name }} {{ perfilusuario.user.last_name }}
            {% else %}
                Aún no registra su nombre y apellidos.
            {% endif %}

        </p>

        <p>
            Nombre de usuario: {{ perfilusuario.user.username }}
        </p>

        <p>
            Número de mensajes: {{ perfilusuario.mensajes }}
        </p>

        <p>
            Correo electrónico: {{ perfilusuario.user.email }}
        </p>

        <p>
            Fecha de registro: {{ perfilusuario.user.date_joined }}
        </p>

        <p>
            Última actualización: {{ perfilusuario.actualizacion }}
        </p>

        <p>
            Última inicio de sesión: {{ perfilusuario.user.last_login }}
        </p>

        <p>
            <a href="{% url 'temas_creados' perfilusuario.user.id %}">Temas creados</a>
        </p>

        <p>

        <form class="navbar-form nav-tabs-justified" method="get" action="{% url 'editar_user' object.user.id %}">

            <input type="submit" class="btn btn-primary" value="Editar Perfil"/>
        </form>

        </p>


    </div>



{% endblock %}