{% extends "base.html" %}
{% load i18n %}
{% block title %}Resultado de búsqueda{% endblock %}

{% block content %}



    Fecha en Perú: {% now "m-d-Y" %}

    <div>
            <a href="{% url 'home' %}">Foros</a> >
            Resultado de buscar {{ texto }}

    </div><br>
    {% include "paginador.html" %}<br>
    {% if object_list %}


        {% for mensaje in object_list %}

            <div id="no-more-tables">

                <table style='table-layout:fixed;width:100%'
                       class="col-md-12 table-bordered table-striped table-condensed cf">

                    <thead class="cf">
                    <col style="width: 15px;"/>
                    <col style="width: 85px;"/>
                    {% with mensaje.profile_data as pdata %}
                        <tr>

                            <th colspan="2">
                                Re: <a href="{% url 'temas' mensaje.tema.foro.id %}">{{ mensaje.tema.foro.titulo }}</a>
                                > <a href="{% url 'mensajes' mensaje.tema.id %}">{{ mensaje.tema.titulo }}</a>
                                > {{ mensaje.fecha|date:"M, d-Y, h:i a" }}
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr st>
                        <td data-title='Autor'>
                        {% if mensaje.autor.id == request.user.id %}
                            <a href="{% url 'editar_perfil' request.user.id %}"> {{ mensaje.autor }} </a><br>
                        {% else %}
                            <a href="{% url 'detalle_usuario' mensaje.autor.id %}"> {{ mensaje.autor }} </a><br>
                        {% endif %}

                        {% if request.user.is_staff %} Administrador<br>
                        {% else %}
                            Miembro<br>
                        {% endif %}

                        {% if  pdata.1 %}
                            <img class="img-rounded" border="0" alt="Profile Pic" src="{{ media_url }}{{ pdata.1 }}"/>
                            <br>
                        {% else %}
                            <img class="img-rounded" border="0" alt="Profile Pic" src="/media/imagenes/nouserimg.png"
                                 height="140" width="140"/><br>
                        {% endif %}

                        Fecha de registro: <br> {{ mensaje.autor.date_joined|date:"M-d-Y" }} <br>
                        Número de mensajes: {{ pdata.0 }}
                    {% endwith %}
                    </td>
                    <td align="justify" class="celdacontenido" data-title='{{ mensaje.fecha|date:"m-d-Y, h:i a" }}'>
                        {% if mensaje.apropiado == 1 %}
                            {{ mensaje.getContenido|safe }}<br>

                             {% if mensaje.editado %}
                                <div class="izquierda">
                                Editado - {{ mensaje.actualizacion|date:"M, d-Y, h:i a" }}
                                </div>
                            {% endif %}

                        {% else %}
                            <div class="inapropiado">
                                Mensaje inapropiado. <br>
                            </div>
                        {% endif %}


                        <a class="derecha" href="{% url 'mensajes' mensaje.tema.id %}">Ir al tema</a>
                    </td>

                    </tr>

                    </tbody>
                </table>
            </div> <br>
        {% endfor %}
        {% include "paginador.html" %}
    {% else %}
        <li>No hay resultados.</li>
    {% endif %}





{% endblock %}