{% extends "base.html" %}
{% load i18n %}
{% block title %}Temas de: {{ usuario.username }}{% endblock %}

{% block content %}

    Fecha en Perú: {% now "m-d-Y" %}

    <div>

        {% if usuario.id == request.user.id %}
            <a href="{% url 'home' %}">Foros</a> > <a href="{% url 'editar_perfil' request.user.id%}">{{ usuario.username }}</a>
        > Temas creados por {{ usuario.username }}
        {% else %}
            <a href="{% url 'home' %}">Foros</a> > <a href="{% url 'detalle_usuario' usuario.id%}">{{ usuario.username }}</a>
        > Temas creados por {{ usuario.username }}
        {% endif %}

    </div><br>
    {% include "paginador.html" %}<br>

    {% if object_list %}


        <div id="no-more-tables">
            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                <thead class="cf">
                <tr>
                    <td>Tema</td>
                    <td>Foro</td>
                    <td class="centrado">Respuestas</td>
                    <td>Último mensaje</td>

                </tr>
                </thead>
                <tbody>
                {% for tema in object_list %}
                    <tr>
                        <td data-title='Tema'>
                            <a href="{% url 'mensajes' tema.pk %}">{{ tema.titulo }}</a><br>
                            Fecha de publicación: {{ tema.fecha|date:"M, d-Y, h:i a" }}
                        </td>
                        <td data-title="Foro">
                           <a href="{% url 'temas' tema.foro.id %}">{{ tema.foro.titulo }}</a>
                        </td>

                        {% if tema.num_mensajes == 0 %}
                            <td data-title='Respuestas' class="centrado">0</td>
                        {% else %}
                            <td data-title='Respuestas' class="centrado">{{ tema.num_respuestas }}</td>
                        {% endif %}

                        <td data-title='Último mensaje'>
                            {{ tema.ultimo_mensaje.fecha|date:"M, d-Y, h:i a" }} <br>

                            {% if tema.ultimo_mensaje.autor.id == request.user.id %}
                                Por:
                                <a href="{% url 'editar_perfil' request.user.id %}"> {{ tema.ultimo_mensaje.autor }} </a>
                            {% else %}
                                Por: <a href="{% url 'detalle_usuario' tema.autor.id %}"> {{ tema.ultimo_mensaje.autor }} </a>
                            {% endif %}


                        </td>

                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "paginador.html" %}
    {% else %}
        <li>El usuario no ha creado ningún tema</li>
    {% endif %}






{% endblock %}