{% extends "base.html" %}


{% block content %}

 <div class="main">
        <div id="rtitle">Editar perfil</div><br />

        <p>
            <form enctype="multipart/form-data" action="" method="POST"> {% csrf_token %}

                {% if perfilusuario.imagen_avatar %}
                    <p><img border="0" alt="Profile Pic" src="{{ perfilusuario.imagen_avatar }}" /></p>
                {% endif %}

                {{ form.avatar}}
                <input type="submit" value="Submit" id="submit" />
            </form>
        </p>
    </div>



{% endblock %}