{% extends "base.html" %}
{% load i18n %}


{% block content %}



    Fecha en Perú: {% now "m-d-Y" %}

    <div id="back">
        <a href="{% url 'home' %}"> Volver a la lista de foros</a>
    </div>

    {% if lista_mensajes %}
        {% if tema.autor.id == request.user.id %}
            Tema: {{ tema.titulo }} - {{ tema.fecha|date:"M-d-Y" }}
            - Autor: <a href="{% url 'editar_perfil' request.user.id %}">{{ tema.autor }} </a>
        {% else %}
            Tema: {{ tema.titulo }} - {{ tema.fecha|date:"M-d-Y" }}
            - Autor: <a href="#">{{ tema.autor }} </a>
        {% endif %}
        <br><br>
        {% for mensaje in lista_mensajes %}
            <table border="1" cellpadding="2" width="100%">


                {% with mensaje.profile_data as pdata %}
                    <tr>

                        <th>
                            {% if mensaje.autor.id == request.user.id %}
                                <a href="{% url 'editar_perfil' request.user.id %}"> {{ mensaje.autor }} </a>
                            {% else %}
                                <a href="#"> {{ mensaje.autor }} </a>
                            {% endif %}

                        </th>
                        <th>  {{ mensaje.titulo }} - {{ mensaje.fecha }}  </th>
                    </tr>

                    <tr>
                    <td>


                    {% if request.user.is_staff %} Administrador<br>
                    {% else %}
                        Miembro<br>
                    {% endif %}

                    {% if  pdata.1 %}
                        <img border="0" alt="Profile Pic" src="{{ media_url }}{{ pdata.1 }}"/><br>
                    {% endif %}
                    Fecha de registro: <br> {{ mensaje.autor.date_joined|date:"M-d-Y" }} <br>
                    Número de mensajes: {{ pdata.0 }}
                {% endwith %}
                </td>
                <td align="justify" class="celdacontenido">
                    {{ mensaje.contenido }} <br>
                    <a class="linkmensaje" href="#">Responder</a>
                </td>

                </tr>


            </table> <br>
        {% endfor %}
    {% else %}
        <li>No hay mensajes publicados en este tema {{ tema }}</li>
    {% endif %}






{% endblock %}